.imgMe{
 width: 40vh;
 height: 50vh;
 margin-right: 20rem;
 margin-left: 10rem;
 margin-top: 4rem;
 border-radius: 40px;
 border: 2px solid rgb(93, 230, 173) ;
}

.parrafo{
    line-height: 1.2; /* Ajusta según tus necesidades */
  font-size: 14px; /* Ajusta el tamaño de fuente según tus necesidades */
  height: 12.6em; /* Multiplica la altura de línea por la cantidad de líneas deseadas */
  overflow: hidden;
  text-overflow: ellipsis; /* Agregar puntos suspensivos si el contenido es demasiado largo */
  white-space:inherit; 
}


.text {
      font-size: 6rem/* 96px */;
      line-height: 1;
      background: linear-gradient(to right, #000, #287579);

      -webkit-background-clip: text; 
      background-clip: text;/* Para navegadores basados en WebKit (como Chrome y Safari) */
      color: transparent;
      padding-right:10px;
      display:inline;
      
}
.text1 {
  font-size: 6rem/* 96px */;
  line-height: 1;
  background: linear-gradient(to right, #000, #287579);
  -webkit-background-clip: text; 
  background-clip: text;/* Para navegadores basados en WebKit (como Chrome y Safari) */
  color: transparent;
  display:inline;
  margin-left: 8rem;
}
.project{
  padding-bottom: 105vh;
}
.contac{
  width: 60vh;
  background-color: #e5f8f7;
  border: 1px solid #fff;
  border-radius: 20px;
}
@media only screen and (max-width: 520px) {
 .imgMe{
  display: flex;
  justify-content: center;
  align-items: center;
 }


}